@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --line-color: #e5e7eb
}

html.dark {
    --line-color: rgba(255, 255, 255, 0.0)
}

.borderBlack {
    @apply border border-black/10
}

/* hide-scrollbar */
.hide-scrollbar::-webkit-scrollbar { display: none; }
.hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

html, body {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

